/* Game board styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* Background color for the entire page */
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #0f0e0e, #52563a);

    /* Colorful linear gradient background for the game board */
}

.question-container {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background for the question container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Shadow effect for the question container */
}

.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.option {
    padding: 15px;
    border-radius: 5px;
    background-color: #33ccff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #0099cc;
}

.timer {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.hint {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.hint-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #33cc33;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hint-btn:hover {
    background-color: #009900;
}

.game-over {
    text-align: center;
    margin-top: 20px;
}

.restart-btn, .return-home-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff3300;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-btn:hover, .return-home-btn:hover {
    background-color: #cc0000;
}

/* Responsive design */
@media (max-width: 768px) {
    .question-container {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .question-container {
        padding: 10px;
    }
}
