body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1e1e;
    color: #333;

}

header {
    background: linear-gradient(135deg, #ff8a00, #e52e71, #6610f2, #2874a6, #17a2b8, #8cdedc);
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
}

h2 {
    color: #007bff;
    font-size: 1.8rem;
    margin-top: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

/* Visually appealing styles */
section {
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-5px);
    color: red;
}
